<p>
  <%= form_for(@event) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :happens_at %>
      <%= f.datetime_select(:happens_at, order:[:day,:month,:year])  %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.submit "Create my meetup"  %>
  <% end %>
</p>
